body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

#root {
  width: 100%;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 54px;
  font-weight: bold;
  height: 75px;
  text-align: center;
  width: 75px;
  color:black
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 24%;
  margin: auto;
}

.stats{
  margin-top: 20%;
  margin-left: 10%;
  

}

.game-info {
  margin-left: 20px;
}
.revert-but{
  width: 25%;
}
.board{
  margin-bottom: 20px;
  margin: auto;

  
}
.reset-but{
  width: 25%;
}
.actions{
  display: flex;
  justify-content: space-around;
  margin-top: 5px;

}
